#navbar {
  height: 100px;
  background-color: #4ea93b;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Microsoft YaHei Ui";
  position: relative;
}
a {
  text-decoration: none;
  color: white;
}
.navbar-right {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
  padding: 0;
}
.navbar-left {
  float: left;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-warning,
.btn-danger {
  font-size: 20px;
  border-radius: 50px;
  color: white;
  background-color: #4ea93b;
  border: none;
  box-shadow: 0px 3px 6px #0000003f;
}
/*Inicio*/
.btn-warning {
  padding-left: 13px;
  padding-right: 12px;
}
/*Productos*/
.btn-secondary {
  margin-left: 16px;
  padding-left: 37px;
  padding-right: 37px;
}
/*Blog*/
.btn-success {
  margin-left: 16px;
  padding-left: 19px;
  padding-right: 18px;
}
/*Acercade*/
.btn-primary {
  padding-left: 40px;
  padding-right: 39px;
}
/*Registrarse*/
.btn-danger {
  margin-left: 16px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-warning:hover,
.btn-secondary:hover,
.btn-success:hover,
.btn-primary:hover,
.btn-danger:hover {
  color: white;
  background-color: #ffc107;
}
#titulo {
  margin-left: 10px;
  font-size: 30px;
}
#active {
  background-color: #ffc107;
  /*text-decoration: underline white;*/
}
