:root {
  --dark: #ffff;
  --dark-x: #ebecf2;
  --light: #16191c;
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 300;
  color: var(--light);
}

.text-light {
  color: var(--light) !important;
}
.bg-dark {
  background-color: var(--dark) !important;
}
.bg-dark-x {
  background-color: var(--dark-x);
}

.btn {
  min-height: 3.125rem;
  font-weight: 600;
}

.form-control {
  min-height: 3.125rem;
  line-height: initial;
}
.form-control:focus {
  background-color: var(--dark-x);
  outline: none;
}

.img-1 {
  background-image: url("https://i.pinimg.com/originals/6c/f1/c0/6cf1c0f237987725668b0b12e722a8cc.jpg");
  background-size: cover;
  background-position: center;
}

.img-2 {
  background-image: url("https://cdn.hipwallpaper.com/i/13/45/DHp8s3.jpg");
  background-size: cover;
  background-position: center;
}
