.container#alimentos {
    margin-top: 150px;
}
.container {
    width: 100%;
}
.container-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px black;
    margin-bottom: 10px;
    padding: 20px;
}
.container-productos .img-responsive {
    height: 30vh;
    width: 100%;
}
.card {
    height: 100%;
    width: 100%;
    border: none;
    box-shadow: 2px 2px 8px black;
    border-radius: 0;
}
.col-4 {
    margin-bottom: 25px !important;
    transition: all 0.7s;
    width: 33%;
}
.titulo-span {
    font-size: 20px;
    font-weight: 100;
}
.card-img-top {
    height: 40vh;
    width: 100%;
}

.col-4:hover {
    transform: scale(1.02);
}
